.panel-item-container {
  width: 0;
  transition: width 0.5s;
  position: relative;
  overflow: hidden;
  display: flex;
  &.open {
    width: 360px;
  }
}
.panel-item {
  flex: 1;
}

.objects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  padding: 1rem 0;
}

.object-item {
  // height: 6rem;
  // background: rebeccapurple;
}
